# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build outputs
dist/
build/

# Env files
.env

# VSCode config files
.vscode/

# MacOS system files
.DS_Store

# Otros archivos temporales
*.tmp
